* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productos {
    /* background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    padding: 2rem;espaciado entre el padre y los hijos */


    display: flex;
  /*en vez de grid ya que no es responsive*/
  order: 1;
  flex-direction: row;
  /*se acomoda en filas */
  flex-wrap: wrap;
  /*ajustará el número de elementos en las filas de acuerdo al tamaño del dispositivo*/
  justify-content: space-between;
  /*justifique a los lados y ajusta el tamaño entre tarjetas*/
  align-items: center;
  /*centra las tarjetas*/
  align-content: center;
  /*centra el contenido de las tarjetas*/
  gap: 10px;
  /*el gap separa los hijos (1 rem=16px)*/
}

.card-product {
    background-color: white;
    padding: 2rem;
    text-align: center;
    border-radius:10%;
    border:solid 2px;

    display: flex; /* convierte el contenedor en un flex container */
    flex-direction: column; /* establece la dirección del flex container en columna */
    align-items: center; /* alinea los elementos horizontalmente en el centro */
    justify-content: center; /* alinea los elementos verticalmente en el centro */
}
.imagen-producto{
 min-width: 20vh ;
 max-width: 25vh;
}
.buscador{
    border: solid 2px;
}
.input-buscador{
    border: none;
}