.container-page-product {
  width: 90vw;
  height: 60vh;
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  /* border: 2px solid #000000; */
  text-align: center;
}

.productito {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid green; */
}

.container-page-product h3 {
  color: var(--color-purple);
  font-size: 1.2rem;
}

.cost{
  font-size: 2rem;
}

.container-page-product p {
  font-size: 1rem;
}

.imgPrincipal {
  width: 20%;
  height: 50%;
  /* border: 2px solid rebeccapurple; */
}

.imagesProduct{
  width: 100%;
  height: 40%;
  display: flex;
  gap: 2rem;
  /* border: 2px solid blue; */
  background-color: var(--color-gray-white);
  justify-content: center;
}

.imagesProduct img{
  /* border: 2px solid orange; */
  width: 13%;
}