.containerRegister {
  height: 90vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  margin: 0 auto;
}

.containerRegister h2 {
  color: var(--color-pink);
  font-family: var(--font-title);
  font-size: 1.8rem;
  margin: 2rem;
}

.formRegister {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.formRegister input {
  height: 5.3vh;
  border: 2px solid var(--color-gray-black);
  text-align: center;
  color: var(--color-gray-black);
  box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
}

.formRegister input::placeholder {
  color: var(--color-gray);
  font-family: var(--font-text);
  text-align: center;
}

.messageError {
  font-size: 0.6rem;
  color: var(--color-pink);
  /* margin-bottom: 0px;
  border: 2px solid red; */
}

.formRegister button {
  background-color: var(--color-pink);
  border: none;
  height: 5.3vh;
  border-radius: 20px;
  margin: 1.5rem;
  color: var(--color-gray-white);
}

.formRegister div {
  color: var(--color-gray);
  font-size: 0.6rem;
}

.containerRegister p {
  margin: 1rem;
}

.a-login {
  color: var(--color-purple);
}

.titleWelcome{
    font-family: var(--font-title);
    font-size: 1.8rem;
    /* margin-left: -1rem; */
}

.btnWelcome{
  color: var(--color-pink);
}

@media (max-width: 360px) {

  .containerRegister {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  }

  .popupWelcome {
    width: 80% !important;
    max-width: 300px !important;
  }
}